table {
  width: 80%;
}
.container{
  padding-top: 3%;
  padding-left: 15%;
}
.fundo1{
  height: 100%;
  background: rgb(0,64,69);
background: linear-gradient(90deg, rgba(0,64,69,1) 0%, rgba(3,188,214,1) 100%);
}
